@import "./copy/copy.styl"
.form-list-1
	font-size 14px
	color #BCBCBD
	line-height 30px
	margin-left 15px
.form-list-3
	font-size 14px
	color #BCBCBD
	line-height 30px
	margin-left 15px
.form-list-2
	background white
	padding 10px 72px 5px
	.circle
		width 100px
		height 75px
		margin 0 auto
		border-bottom 1px solid #F4F4F4
		margin-bottom 10px
		.circle-1
			width 65px
			height 65px
			border-radius 50%
			margin 0 auto
			line-height 65px
			text-align center
			color white
			font-size 12px
			background #878787
	.form-cell-input
		padding 0px 10px
		width 100%
		height 30px
		color red
		background #EFEFF4
		border none
		border-radius 5px
		margin-bottom 5px
		outline none
		font-size 14px
		font-family: "Microsoft YaHei";
		color #C0C0C0
.form-list-4
	background white
	padding 10px 0px 10px
	.form-cell
		padding 0px 72px
		.form-cell-input
			padding 0px 10px
			width 100%
			height 30px
			color red
			background #EFEFF4
			border none
			border-radius 5px
			margin-bottom 5px
			outline none
			font-size 14px
			font-family: "Microsoft YaHei";
			color #C0C0C0
	.form-list-2-bottom
		display flex
		padding 20px 10px 10px
		.bottom_span
			flex 3
			display inline-block
			border-radius 5px
			line-height 65px
			text-align center
			color white
			font-size 12px
			background #878787
			margin-right 7%
		.other
			margin-right 0
.button 
	background-color #EA5404
	color white
	font-size 18px
	border-radius 5px
	height 45px
	line-height 45px
	text-align center
	margin 40px 10px 0px

		
