@import "./copy/copy.styl"
.form-list
	background-color white
	margin-top 20px
	padding 0px 10px
	.form-cell
		height 40px
		line-height 40px
		border-bottom 1px solid #cccccc
		.form-cell-name
			background url(../img/content_ID_icon@2x.png) no-repeat 0 center
			background-size 20px 20px
			padding-left 30px
		&-password
			background url(../img/content_password_icon@2x.png) no-repeat 0 center
			background-size 16px 20px
			padding-left 30px
		.form-cell-input
			border none
			outline none
			font-size 14px
			font-family: "Microsoft YaHei";
			color #C0C0C0
		.password
			border-bottom none
	.other
		border-bottom none	
.button 
	background-color #C7C7C7
	color white
	border-radius 5px
	height 40px
	line-height 40px
	text-align center
	margin 40px 10px 20px
.buttom1
	position absolute
	left 20px
	color #FE9318
	font-size 14px
.buttom2
	position absolute
	right 20px
	color #808081
	font-size 14px
	
			
			
		
		
	
		