@import "./copy/copy.styl"
.form-list
	background-color white
	margin-top 20px
	padding 0px 10px
	.form-cell
		position relative
		height 40px
		line-height 40px
		border-bottom 1px solid #cccccc
		.form-cell-name
			background url(../img/content_ID_icon@2x.png) no-repeat 0 center
			background-size 20px 20px
			padding-left 30px
		&-password
			background url(../img/content_password_icon@2x.png) no-repeat 2px center
			background-size 16px 20px
			padding-left 30px
		&-key
			background url(../img/content_verify_icon@2x.png) no-repeat 4px center
			background-size 11px 20px
			padding-left 30px
		.form-cell-input
			border none
			outline none
			font-size 14px
			font-family: "Microsoft YaHei";
			color #C0C0C0
		.password
			border-bottom none
		.form-cell-code
			line-height 14px
			position absolute
			right 0px
			top 50%
			top 7px
			background #EA5404
			color white
			font-size 10px
			padding 5px
			border-radius 5px
		.icon-identity
			position absolute
			width 20px
			height 40px
			right 0px
			background url(../img/nav_back_xia.png) no-repeat 0px center
			background-size 13.5px 7.5px
	.identity
		border-bottom none	
.button 
	background-color #C7C7C7
	color white
	border-radius 5px
	height 40px
	line-height 40px
	text-align center
	margin 40px 10px 10px
.bottom
	width 100%
	text-align center
	margin 0 auto
	font-size 10px
	.bottom2
		a
			color #EB733A
		