body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
.header {
  display: flex;
  height: 50px;
  background-color: #fff;
}
.header .icon-back {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 25%;
}
.header .header_title {
  flex: 1;
  padding-right: 50px;
  line-height: 50px;
  text-align: center;
}
.demand_cells {
  overflow: hidden;
}
.demand_cells .demand_cell {
  display: flex;
  margin-top: 10px;
  padding: 10px 0px;
  background: #fff;
  position: relative;
  height: 95px;
}
.demand_cells .demand_cell .icon-left {
  flex: 3;
  display: inline-block;
  height: 70px;
  background: url("../../img/appointment/content_img@2x.png") no-repeat center;
  background-size: 80%;
}
.demand_cells .demand_cell .text-right {
  flex: 6;
  position: relative;
}
.demand_cells .demand_cell .text-right .title {
  font-size: 14px;
  margin-bottom: 5px;
}
.demand_cells .demand_cell .text-right .title .tilte2 {
  position: absolute;
  right: 10px;
  background: #f00;
  padding-left: 20px;
  background: url("../../img/appointment/content_icon@2x.png") no-repeat left 0px center;
  background-size: 12%;
}
.demand_cells .demand_cell .text-right .demand_info {
  text-indent: 1.2em;
  font-size: 14px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}
.demand_cells .demand_cell .text-right .text-bottom {
  color: #ff8c0a;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
.demand_cells .demand_cell .text-right .button {
  width: 55px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  background: #ea5404;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 10px;
}
.demand_cells .demand_cell .text-right .button1 {
  width: 100px;
  height: 23px;
  line-height: 23px;
  text-align: right;
  color: #4e4e4e;
  font-size: 12px;
  position: absolute;
  right: 30px;
}
.demand_cells .demand_cell .hidden-box {
  width: 65px;
  height: 115px;
  background: #ff3b30;
  position: absolute;
  left: 0px;
  top: 0px;
  color: #fff;
  text-align: center;
  line-height: 115px;
}
.bottom_bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #fff;
  border-top: 1px solid #ebebee;
  padding: 8px 0px 3px;
}
.bottom_bar .same {
  flex: 1;
  height: 100%;
}
.bottom_bar .same .home_page {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon04@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .appoint {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_press_icon03@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .add {
  width: 42px;
  height: 42px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_icon05@2x.png") no-repeat center 0px;
  background-size: 100%;
}
.bottom_bar .same .message {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon02@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .my {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon01@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .bottom_text {
  text-align: center;
  color: #b4b4b4;
  font-size: 12px;
}
.bottom_bar .same .active {
  color: #ea580e;
}
