<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州赏秋网络科技有限公司" />
		<meta name="description" content="杭州赏秋网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成。" />
		<title>恋家 - 杭州赏秋网络科技有限公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="./public/css/register.css">
	</head>
	<body>
		<header class="header">
			<i class="icon-back"></i>
			<span class="head_title">注册</span>
		</header>
		<article class="form-list">
			<section class="form-cell">
				<span class="form-cell-name">账号：</span>
				<input type="text" class="form-cell-input input-name" placeholder="请输入你的手机号"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-key">验证码：</span>
				<input type="text" class="form-cell-input input-key" placeholder="请输入验证码"/>
				<span class="form-cell-code">获取验证码</span>
			</section>
			<section class="form-cell">
				<span class="form-cell-password password">密码：</span>
				<input type="password" class="form-cell-input input-password"  placeholder="请输入新的登录密码"/>
			</section>
			<section class="form-cell">
				<span class="form-cell-password password">密码：</span>
				<input type="password" class="form-cell-input input-password1"  placeholder="请输入新的登录密码"/>
			</section>
			<section class="form-cell identity">
				<span class="form-cell-identity">身份：</span>
				<input type="text" class="form-cell-input input-identity"  placeholder="经纪人"/>
				<i class="icon-identity identity-active"></i>
				
				<ul class="hidden_box">
					<li>经济人</li>
					<li>小业主</li>
					<li>运营商</li>
					<li>代理商</li>
					<li>开发商</li>
				</ul>
				
			</section>
		</article>
		<div class="button">注册</div>
		<div class="bottom"><span class="bottom1">注册即代表同意</span>
			<span class="bottom2"><a href="#">《活力矩阵用户协议》</a></span></div>
	
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../public/libs/zepto/touch.js"></script>
		<script src="../public/js/load/register.js"></script>
	</body>
</html>
