body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
.header {
  height: 50px;
  background-color: #fff;
}
.header .icon-back {
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  background: url("../img/nav_back_icon@2x.png") no-repeat center;
  background-size: 10px 18px;
}
.header .head_title {
  width: 100%;
  font-size: 18px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: #ec692c;
}
.form-list {
  background-color: #fff;
  margin-top: 20px;
  padding: 0px 10px;
}
.form-list .form-cell {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
}
.form-list .form-cell .form-cell-name {
  background: url("../img/content_ID_icon@2x.png") no-repeat 0 center;
  background-size: 20px 20px;
  padding-left: 30px;
}
.form-list .form-cell-password {
  background: url("../img/content_password_icon@2x.png") no-repeat 2px center;
  background-size: 16px 20px;
  padding-left: 30px;
}
.form-list .form-cell-key {
  background: url("../img/content_verify_icon@2x.png") no-repeat 4px center;
  background-size: 11px 20px;
  padding-left: 30px;
}
.form-list .form-cell .form-cell-input {
  border: none;
  outline: none;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #c0c0c0;
}
.form-list .form-cell .password {
  border-bottom: none;
}
.form-list .form-cell .form-cell-code {
  line-height: 14px;
  position: absolute;
  right: 0px;
  top: 50%;
  top: 7px;
  background: #ea5404;
  color: #fff;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
}
.form-list .form-cell .icon-identity {
  position: absolute;
  width: 20px;
  height: 40px;
  right: 0px;
  background: url("../img/nav_back_xia.png") no-repeat 0px center;
  background-size: 13.5px 7.5px;
}
.form-list .identity {
  border-bottom: none;
}
.button {
  background-color: #c7c7c7;
  color: #fff;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 40px 10px 10px;
}
.bottom {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
}
.bottom .bottom2 a {
  color: #eb733a;
}
