<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>恋家 - 杭州摆摆网络科技有限公司</title>
    	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司，摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="../../public/css/index/index.css">
	</head>
	<body>
    <header class="header">
        <i class="icon-back">上海</i>
        <span class="header_title">项目名</span>
    </header>
    <div class="search_box">
        <div class="search_input"><i class="icon-search"></i><span>挑好房，上项目名</span></div>
    </div>
    <div class="slider_box">
        <div class="slider_container">
            <div class="slider_block"></div>
            <div class="slider_block"></div>
            <div class="slider_block"></div>
        </div>
        <div class="point_box">
            <span class="point_block active"></span><span class="point_block"></span><span class="point_block"></span>
        </div>
    </div>
    <div class="query_box">
        <div class="query_block"><span class="text">区域</span><i class="icon"></i></div>
        <div class="query_block"><span class="text">面积</span><i class="icon"></i></div>
        <div class="query_block"><span class="text">单价</span><i class="icon"></i></div>
        <div class="query_block"><span class="text">更多</span><i class="icon"></i></div>
        <div class="query_price"><i class="icon"></i></div>
    </div>
    <div class="down-box">
    	
        <ul class="down-box1">
            <li>全部</li>
            <li>闵行</li>
            <li class="down-box1-other">浦东</li>
            <li>嘉定</li>
            <li>宝山</li>
            <li>闸北</li>
            <li>松江</li>
            <li>青浦</li>
            <li>徐汇</li>
            <li>普陀</li>
        </ul>
        <ul class="down-box2">
            <li class="quan">全部</li>
            <li>八佰伴</li>
            <li>川沙</li>
            <li>花木</li>
            <li>金桥</li>
        </ul>
    </div>
    <div class="down-box">
        <ul class="down-box1">
            <li>全部</li>
            <li class="down-box1-other">闵行</li>
            <li>浦东</li>
            <li>嘉定</li>
            <li>宝山</li>
            <li>闸北</li>
            <li>松江</li>
            <li>青浦</li>
            <li>徐汇</li>
            <li>普陀</li>
        </ul>
        <ul class="down-box2">
            <li class="quan">全部</li>
            <li>八佰伴</li>
            <li>川沙</li>
            <li>花木</li>
            <li>金桥</li>
        </ul>
    </div>
    <div class="down-box">
        <ul class="down-box1">
            <li>全部</li>
            <li>闵行</li>
            <li>浦东</li>
            <li>嘉定</li>
            <li>宝山</li>
            <li class="down-box1-other">闸北</li>
            <li>松江</li>
            <li>青浦</li>
            <li>徐汇</li>
            <li>普陀</li>
        </ul>
        <ul class="down-box2">
            <li class="quan">全部</li>
            <li>八佰伴</li>
            <li>川沙</li>
            <li>花木</li>
            <li>金桥</li>
        </ul>
    </div>
    <div class="down-box">
        <ul class="down-box1">
            <li>全部</li>
            <li>闵行</li>
            <li>浦东</li>
            <li>嘉定</li>
            <li>宝山</li>
            <li>闸北</li>
            <li>松江</li>
            <li>青浦</li>
            <li class="down-box1-other">徐汇</li>
            <li>普陀</li>
        </ul>
        <ul class="down-box2">
            <li class="quan">全部</li>
            <li>八佰伴</li>
            <li>川沙</li>
            <li>花木</li>
            <li>金桥</li>
        </ul>
    </div>
    <article>
        <section class="block_box">
            <div class="img_box"></div>
            <div class="info_box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag_box"><span>商务中心</span></div>
                <div class="info-price"><span class="yen_box"><em class="yen">&yen;7</em>元/平米/天起</span><span class="yong">佣金：一个月</span></div>
            	<div class="info_heart"></div>
            </div>             
        </section>
        <section class="block_box">
            <div class="img_box"></div>
            <div class="info_box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag_box"><span>商务中心</span></div>
                <div class="info-price"><span class="yen_box"><em class="yen">&yen;7</em>元/平米/天起</span><span class="yong">佣金：一个月</span></div>
            	<div class="info_heart"></div>
            </div>            
        </section>
        <section class="block_box">
            <div class="img_box"></div>
            <div class="info_box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag_box"><span>商务中心</span></div>
                <div class="info-price"><span class="yen_box"><em class="yen">&yen;7</em>元/平米/天起</span><span class="yong">佣金：一个月</span></div>      
            	<div class="info_heart"></div>
            </div>
        </section>
        
        <section class="block_box">
            <div class="img_box"></div>
            <div class="info_box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag_box"><span>商务中心</span></div>
                <div class="info-price"><span class="yen_box"><em class="yen">&yen;7</em>元/平米/天起</span><span class="yong">佣金：一个月</span></div>           	
            	<div class="info_heart"></div>
            </div>
        </section>
        
        <section class="block_box">
            <div class="img_box"></div>
            <div class="info_box">
                <div class="info-title">东方金融中心</div>
                <div class="info-address">浦东-八佰伴</div>
                <div class="info-tag_box"><span>商务中心</span></div>
                <div class="info-price"><span class="yen_box"><em class="yen">&yen;7</em>元/平米/天起</span><span class="yong">佣金：一个月</span></div>
            	<div class="info_heart"></div>
            </div>
        </section>
        
    </article>
    <div class="back"></div>
    <div class="bottom_bar">
				<span class="same home_page_box">
					<div class="home_page"></div>
					<div class="bottom_text shouye">首页</div>
				</span>
				<span class="same appoint_box">
					<div class="appoint"></div>
					<div class="bottom_text">预约</div>
				</span>
				<span class="same add_box">
					<div class="add"></div>
				</span>
				<span class="same message_box">
					<div class="message"></div>
					<div class="bottom_text">信息</div></span>
				<span class="same mine my_box">
					<div class="my"></div>
					<div class="bottom_text">我</div>
				</span>
		</div>
		
	</body>

    <script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
    <script src="../public/libs/zepto/touch.js"></script>
    <script src="../../public/js/index/index.js"></script>
    <script src="../../public/js/bottom/index.js"></script>
</body>
</html>