<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>恋家 - 杭州摆摆网络科技有限公司</title>
    	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司，摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="../../public/css/component/component.css">
	</head>
	<body>
		<header class="header">
			<span class="head_title_left">取消</span>
			<span class="head_title">发布房源</span>
		</header>
		<article class="article_box">
			<div class="article_top">
				<div class="top_text"><i class="icon_sou"></i><input type="text" placeholder="搜索想要发布的大厦" class="article_top_input"/></div>
				<div class="top_right"><i class="icon_add"></i><span class="text_add">新增楼盘</span></div>
			</div>
			<div class="article_text">
				<div class="article_text_title"><i class="title_circle"></i><span class="title_msg">大厦信息</span></div>
				<ul class="article_text1">
					<li><span class="text1_left">商圈：</span><span class="text1_right">浦东-八佰伴</span></li>
					<li><span class="text1_left">物业：</span><span class="text1_right">上海浦江物业有限公司</span></li>
					<li><span class="text1_left">层数：</span><span class="text1_right">23层</span></li>
					<li><span class="text1_left">层高：</span><span class="text1_right">标准4.5米，净高2.75米，大堂14.5米</span></li>
					<li><span class="text1_left">车位：</span><span class="text1_right">地上30个，地下400个，1250元/月</span></li>
					<li><span class="text1_left">电梯：</span><span class="text1_right">客梯8部，货梯2部，三菱电梯</span></li>
					<li><span class="text1_left">空调：</span><span class="text1_right">集中式中央空调</span></li>
					<li><span class="text1_left">入住企业：</span><span class="text1_right">顺诚商业地产（房地产/建筑）、大大集团</span></li>
					<li><span class="text1_left">地铁：</span><span class="text1_right">距离世纪大道站步行7分钟</span></li>
				</ul>
			</div>
		</article>
		<div class="bottom_box">
			<div class="message_box">
				<div class="message_title"><i class="message_title_circle"></i><span class="msg_text">房源信息</span></div>
				<div class="message_title1">请选择发布房源的属性</div>
				<div class="radio_box">
			        <div class="radio_block selected"><i class="icon"><i class="icon1"></i></i><span>整层</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>整栋</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>众创空间</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>商务中心</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>创意产业园</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>写字楼</span></div>
			        <div class="radio_block"><i class="icon"><i class="icon1"></i></i><span>工位</span></div>
			    </div>
			</div>
			<div class="text_box">
				<section class="form-cell">
					<span class="form-cell_text">房源面积</span>
					<input type="text" placeholder="20" class="form-cell_input"/>
					<span class="form-cell_number">m&sup2;</span>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">房源单价</span>
					<input type="text" placeholder="6.5" class="form-cell_input"/>
					<span class="form-cell_number">元/m&sup2;/天</span>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">交付状态</span>
					<input type="text" placeholder="标准交付" class="form-cell_input1"/>
				</section>
				<div class="select_box">
			        <!--<div class="select-title" data-val="1">毛坯交付</div>-->
			        <ul class="select-list">
			            <li class="select-li" data-val="1">毛坯交付</li>
			            <li class="select-li" data-val="2">标注交付</li>
			            <li class="select-li" data-val="3">简装</li>
			            <li class="select-li" data-val="3">精装</li>
			            <li class="select-li" data-val="3">豪装</li>
			        </ul>
			    </div>
				
				<section class="form-cell">
					<span class="form-cell_text">交付日期</span>
					<input type="text" placeholder="2015-06-21" class="form-cell_input"/>
					<div class="form-cell_number selected"><i class="icon"><i class="icon1"></i></i><span>是否现房</span></div>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">付款方式</span>
					<input type="text" placeholder="押三付一" class="form-cell_input"/>
					<div class="form-cell_number"><i class="icon"><i class="icon1"></i></i><span>是否含发票</span></div>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">是否结佣</span>
					<input type="text" placeholder="一个月" class="form-cell_input"/>
					<div class="form-cell_number"><i class="icon"><i class="icon1"></i></i><span>是</span></div>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">装修免租</span>
					<input type="text" placeholder="一个月" class="form-cell_input1"/>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">看房时间</span>
					<input type="text" placeholder="8:00" class="form-cell_input"/>
					<input type="text" placeholder="20:00" class="form-cell_input2"/>
				</section>
				<section class="form-cell">
					<span class="form-cell_text">房源简介</span>
					<input type="text" placeholder="房源简介" class="form-cell_input3"/>
				</section>
				<div class="add_pic_box">
					<i class="add_pic"></i>
					<span class="add_pic_box_text">添加图片</span>
					<input type="file" class="file" />
				</div>
			</div>
		</div>
		<div class="releaes_box">
			<div class="release">确认发布</div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../../public/libs/zepto/touch.js"></script>
	    <script src="../../public/js/component/component.js"></script>
	</body>
</html>
