<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>恋家 - 杭州摆摆网络科技有限公司</title>
    	<meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司，摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/msg/msg_need.css" />
	</head>
	<body>
		<header class="tab_box">
			<ul class="tab_bar">
				<li class="tab_bar-cell message">消息</li>
				<li class="tab_bar-cell notice">通知</li>
				<li class="tab_bar-cell active">需求</li>
			</ul>
		</header>
		<article class="demand_cells">
			<section class="demand_cell">
				<header class="demand_title"><span class="title_name">一个租房要求</span>
				<span class="title_text">租户</span>
				</header>
				<p class="demand_info">需求为：外滩SOHO，200平米写字楼，简装带家居，租金8元/m²/天左右，附近有地铁</span>
				<footer class="demand_footer"><span class="footer_time"></span><span class="footer_detail">了解详情</span><span class="footer_time">08/04/13:06</span></footer>
			</section>
			<section class="demand_cell">
				<header class="demand_title"><span class="title_name">一个租房要求</span>
				<span class="title_text person">经纪人</span>
				</header>
				<p class="demand_info">需求为：外滩SOHO，200平米写字楼，简装带家居，租金8元/m²/天左右，附近有地铁</span>
				<footer class="demand_footer"><span class="footer_time"></span><span class="footer_detail">了解详情</span><span class="footer_time">08/04/13:06</span></footer>
			</section>
			<section class="demand_cell">
				<header class="demand_title"><span class="title_name">一个租房要求</span>
				<span class="title_text merchant">招商</span>
				</header>
				<p class="demand_info">需求为：外滩SOHO，200平米写字楼，简装带家居，租金8元/m²/天左右，附近有地铁</span>
				<footer class="demand_footer"><span class="footer_time"></span><span class="footer_detail">了解详情</span><span class="footer_time">08/04/13:06</span></footer>
			</section>
			<section class="demand_cell">
				<header class="demand_title"><span class="title_name">一个租房要求</span>
				<span class="title_text agency">代理商</span>
				</header>
				<p class="demand_info">需求为：外滩SOHO，200平米写字楼，简装带家居，租金8元/m²/天左右，附近有地铁</span>
				<footer class="demand_footer"><span class="footer_time"></span><span class="footer_detail">了解详情</span><span class="footer_time">08/04/13:06</span></footer>
			</section>
		</article>
		<div class="bottom_bar">
				<span class="same  home_page_box">
					<div class="home_page"></div>
					<div class="bottom_text">首页</div>
				</span>
				<span class="same appoint_box">
					<div class="appoint"></div>
					<div class="bottom_text">预约</div>
				</span>
				<span class="same add_box">
					<div class="add"></div>
				</span>
				<span class="same message_box">
					<div class="message"></div>
					<div class="bottom_text">信息</div></span>
				<span class="same my_box">
					<div class="my"></div>
					<div class="bottom_text">我</div>
				</span>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../../public/libs/zepto/touch.js"></script>
	    <script src="../../public/js/msg/msg_need.js"></script>
	    <script src="../../public/js/bottom/bottom_msg.js"></script>
	</body>
</html>
