@import "../copy/copy3.styl"

.demand_cell
	display flex
	margin-top 10px
	background-color white
	height 50px
	padding 0px 15px
		
	.demand_cell_text
		flex 1
		line-height 50px
		font-size 14px

	.icon_right
		display inline-block
		width 110px 
		height 50px
		font-style normal
		line-height 50px
		font-size 12px
		background url(../../img/mine/content_list_right_icon@2x.png) no-repeat right 0px center 
		background-size 8%	
.demand_other
	position relative
	height 215px
	.demand-icon-box
		position absolute
		left 50%
		margin-left -55px
		top 50%
		margin-top -50px
		
	.demand-icon1
		width 76px
		height 76px
		background url(../../img/about/content_img_logo@2x.png) no-repeat center 
		background-size 100%
		margin-left 20px
		
	.demand-icon2
		width 110px
		height 40px
		background url(../../img/about/content_text_logo@2x.png) no-repeat left 0px center 
		background-size 65%
		line-height 40px
		text-align right
		font-size 12px
		
		
		
.bottom
	width 100%
	font-size 12px
	text-align center
	height 50px
	position fixed
	bottom 0px
	
	