@import "../copy/copy1.styl"
.header
	position relative
	.icon-setup
		width 40px
		height 40px
		display inline-block
		position absolute
		right 0px
		top 0px
		background url(../../img/mine/nav_set_icon@2x.png) no-repeat center 
		background-size 40%
.center
	
	background-color white
	margin-top 10px		
	.center_top
		display flex
		padding 15px 15px
		border-bottom 1px solid #EBEBEE
		.icon_signin
			width 65px
			height 65px  	
			border-radius 50%
			display inline-block
			background url(../../img/mine/123.png) no-repeat center
			background-size 100%
		.signin
			flex 1
			line-height 65px
			padding-left 12px
		.icon_right
			width 15px
			height 65px
			display inline-block
			background url(../../img/mine/content_list_right_icon@2x.png) no-repeat center
			background-size 75%
			text-align right
	.center_bottom
		display flex
		padding 10px 0
		.center_bottom_box
			flex 1
			text-align center
			border-right 1px solid #EBEBEE
			.zero
				font-size 20px
			.center_bottom_text
				font-size 12px
				margin-left 5px
		.other_bottom
			border-right none
			text-align center
			border-right 1px solid #EBEBEE
			.zero
				font-size 20px
			.center_bottom_text
				font-size 12px
				margin-left 5px
.demand_cell
	display flex
	margin-top 10px
	background-color white
	height 50px
	padding 0px 10px
	.icon_left
		display inline-block
		width 25px 
		height 50px
		background url(../../img/mine/content_list_icon01@2x.png) no-repeat 0px center 
		background-size 80%
	.pic_2
		background url(../../img/mine/content_list_icon02@2x.png) no-repeat 0px center 
		background-size 80%
	.pic_3
		background url(../../img/mine/content_list_icon05@2x.png) no-repeat 0px center 
		background-size 80%
	.pic_4
		background url(../../img/mine/content_list_icon03@2x.png) no-repeat 0px center 
		background-size 80%
	.pic_5
		background url(../../img/mine/content_list_icon04@2x.png) no-repeat 0px center 
		background-size 80%
		
	.demand_cell_text
		flex 1
		line-height 50px
	.icon_right
		display inline-block
		width 15px 
		height 50px
		background url(../../img/mine/content_list_right_icon@2x.png) no-repeat center 
		background-size 60%			
.bottom_bar
	width 100%
	position absolute
	bottom 0
	display flex
	background-color #fff
	border-top 1px solid #EBEBEE
	padding 8px 0px 0px
	.same
		flex 1
		height 100%

		.home_page
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_nor_icon04@2x.png) no-repeat center 0px
			background-size 80%
		.appoint
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_nor_icon03@2x.png) no-repeat center 0px
			background-size 80%
		.add
			width 42px
			height 42px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_icon05@2x.png) no-repeat center 0px
			background-size 100%
		.message
			width 30px
			height 25px
			margin 0 auto	
			background url(../../img/bottom_bar/bottom_nor_icon02@2x.png) no-repeat center 0px
			background-size 80%
		.my
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_press_icon01@2x.png) no-repeat center 0px
			background-size 80%
		.message3
			position relative
			.message3_text
				position absolute
				display inline-block
				width 18px
				height 18px
				background-color #EC461F
				border-radius 50%
				color white
				font-size 10px
				text-align center
				line-height 18px
				left 18px
				top -5px
		.bottom_text
			text-align center	
			color #B4B4B4
			font-size 12px
		.active
			color #EA580E