@import "../copy/copy3.styl"

.demand_cell
	display flex
	margin-top 10px
	background-color white
	height 50px
	padding 0px 15px
		
	.demand_cell_text
		flex 1
		line-height 50px
		font-size 14px
	.icon_circle
		display inline-block
		width 50px
		height 30px
		background-color #EA5404
		border-radius 25px
		margin-top 10px
		position relation
		.icon_circle-1
			position absolute
			z-index 5
			width 30px
			height 30px
			border-radius 50%
			background-color white
	.icon_right
		display inline-block
		width 55px 
		height 50px
		font-style normal
		line-height 50px
		color #B7B7B7
		font-size 12px
		background url(../../img/mine/content_list_right_icon@2x.png) no-repeat right 0px center 
		background-size 15%	
.bottom
	margin-top 10px
	background-color white
	height 50px	
	width 100%
	font-size 14px
	line-height 50px
	text-align center