<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link rel="stylesheet" href="./public/css/info/css.css"/>-->
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="./public/css/info/css.css">
	    
	</head>
	<body>
        <div id="content">
            <input type="button" value="开始游戏" onclick="GameStart()">
            <input type="button" value="结束游戏" onclick="GameOver()">
            <br /><br />
           <form name="form1">
                <label>分数：</label>
                <input type="text" name="score" size="5">
                <label>命中率：</label>
                <input type="text" name="success" size="10">
                <label>倒计时：</label>
                <input type="text" name="remtime" size="5">
            </form>
            <br />
            <table>
                <tr>
                    <td id="td[0]"></td>
                    <td id="td[1]"></td>
                    <td id="td[2]"></td>
                    <td id="td[3]"></td>
                    <td id="td[4]"></td>
                </tr>
                <tr>
                    <td id="td[5]"></td>
                    <td id="td[6]"></td>
                    <td id="td[7]"></td>
                    <td id="td[8]"></td>
                    <td id="td[9]"></td>
                </tr>
                <tr>
                    <td id="td[10]"></td>
                    <td id="td[11]"></td>
                    <td id="td[12]"></td>
                    <td id="td[13]"></td>
                    <td id="td[14]"></td>
                </tr>
                <tr>
                    <td id="td[15]"></td>
                    <td id="td[16]"></td>
                    <td id="td[17]"></td>
                    <td id="td[18]"></td>
                    <td id="td[19]"></td>
                </tr>
                <tr>
                    <td id="td[20]"></td>
                    <td id="td[21]"></td>
                    <td id="td[22]"></td>
                    <td id="td[23]"></td>
                    <td id="td[24]"></td>
                </tr>
            </table>
        </div>
        <script src="./public/js/test.js"></script>
    </body>

</html>
