<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="../../public/css/mine/about.css">
	</head>
	<body>
		<header class="header">
			<i class="icon-back"></i>
			<span class="head_title">关于</span>
		</header>
		<article class="form-list">
			<div class="demand_other">
				<div class="demand-icon-box">
					<div class="demand-icon1"></div>
					<div class="demand-icon2">v1.0.0</div>
				</div>
			</div>
			<section class="demand_cell">
				<span class="demand_cell_text">电话</span>
				<i class="icon_right">021-68547845</i>
			</section>
			<section class="demand_cell">
				<span class="demand_cell_text">服务条款</span>
				<i class="icon_right"></i>
			</section>
		</article>
		<div class="bottom">&copy;2016 All Rights Reserved.</div>
		
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../public/libs/zepto/touch.js"></script>
	
	</body>
</html>
