<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州赏秋网络科技有限公司" />
		<meta name="description" content="杭州赏秋网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成。" />
		<title>恋家 - 杭州赏秋网络科技有限公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="../../public/css/mine/clear.css">
	</head>
	<body>
		<header class="header">
			<i class="icon-back"></i>
			<span class="head_title">设置</span>
		</header>
		<article class="form-list">
			<section class="demand_cell">
				<span class="demand_cell_text">接收需求</span>
				<i class="icon_circle"><i class="icon_circle-1"></i></i>
			</section>
			<section class="demand_cell">
				<span class="demand_cell_text">关于</span>
				<i class="icon_right"></i>
			</section>
			<section class="demand_cell">
				<span class="demand_cell_text">清除缓存</span>
				<i class="icon_right">7.02M</i>
			</section>
		</article>
		<div class="bottom">退出登录</div>
		<div class="clear-box">
			<div class="clear">
				<div class="clear-top">您确定要清理缓存吗？</div>
				<div class="clear-bottom"><span class="clear1">取消</span><span class="clear2">确定</span></div>
			</div>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../public/libs/zepto/touch.js"></script>
	
	</body>
</html>


