<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="杭州赏秋网络科技有限公司" />
		<meta name="description" content="杭州赏秋网络科技有限公司 是一家技术开发、技术服务、技术咨询、成果转让公司。主要经营技术开发、技术服务、技术咨询、成果转让：计算机软硬件、计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成。" />
		<title>恋家 - 杭州赏秋网络科技有限公司</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" />
		<link rel="stylesheet" href="../public/css/mine/no.css" />
	</head>
	<body>
		<header class="header">
			<span class="head_title">我</span>
			<i class="icon-setup"></i>
		</header>
		<div class="center">
			<div class="center_top">
				<i class="icon_signin"></i>
				<span class="signin">点击登录/注册</span>
				<i class="icon_right"></i>
			</div>
			<div class="center_bottom">
				<span class="center_bottom_box"><span class="zero">0</span><span class="center_bottom_text">收藏</span></span>
				<span class="center_bottom_box other_bottom"><span class="zero">0</span><span class="center_bottom_text">积分</span></span>	
			</div>
		</div>
		<article class="demand_cells">
			<section class="demand_cell">
				<i class="icon_left"></i>
				<span class="demand_cell_text">我发布的需求</span>
				<i class="icon_right"></i>
			</section>
			<section class="demand_cell">
				<i class="icon_left pic_2"></i>
				<span class="demand_cell_text">我发布的房源</span>
				<i class="icon_right"></i>
			</section>
			<section class="demand_cell">
				<i class="icon_left pic_3"></i>
				<span class="demand_cell_text">我预约的房源</span>
				<i class="icon_right"></i>
			</section>
			<section class="demand_cell">
				<i class="icon_left pic_4"></i>
				<span class="demand_cell_text">历史交易</span>
				<i class="icon_right"></i>
			</section>
			<section class="demand_cell">
				<i class="icon_left pic_5"></i>
				<span class="demand_cell_text">过期房源</span>
				<i class="icon_right"></i>
			</section>
		</article>
		<div class="bottom_bar">
				<span class="same home_page_box">
					<div class="home_page"></div>
					<div class="bottom_text">首页</div>
				</span>
				<span class="same appoint_box">
					<div class="appoint"></div>
					<div class="bottom_text">预约</div>
				</span>
				<span class="same add_box">
					<div class="add"></div>
				</span>
				<span class="same message_box">
					<!--<div class="message3"><span class="message3_text">3</span></div>-->
					<div class="message"><div class="message3"><span class="message3_text">3</span></div></div>
					<div class="bottom_text">信息</div></span>
				<span class="same my_box">
					<div class="my"></div>
					<div class="bottom_text active">我</div>
				</span>
		</div>
		<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	    <script src="../../public/libs/zepto/touch.js"></script>
	    <script src="../../public/js/mine/no.js"></script>
	    <script src="../../public/js/bottom/mine.js"></script>
	</body>
</html>

