body 
	margin 0
	padding 0
	.box
		width 100%
		color white
		background #1D1C1B
		position fixed
		top 0px
		bottom 50px
		overflow hidden
		font-size 14px
		
		.box1
			display inline-block
			position absolute
			left 50%
			margin-left -125px
			bottom 60px
			.need
				float left
				text-align center
				.icon-pic1
					display inline-block
					width 95px
					height 95px
					background url(../../img/release/publish_btn02@2x.png) no-repeat center
					background-size 100%
			.house 
				float left
				text-align center
				margin-left 60px
				.icon-pic2
					display inline-block
					width 95px
					height 95px
					background url(../../img/release/publish_btn01@2x.png) no-repeat center
					background-size 100%
	.icon-pic3
		height 50px
		width 100%
		background #242221 url(../../img/release/publish_close_icon@2x.png) no-repeat center
		background-size 4%
		position fixed
		bottom 0px
	