@import '../copy/head1.styl'


	.demand_cell
		display flex
		margin-top 10px
		padding 10px 0px
		background white
		position relative
		height 95px
		.icon-left
			flex 3
			display inline-block
			height 70px
			background url(../../img/appointment/content_img@2x.png) no-repeat center 
			background-size 80%
		.text-right
			flex 6
			position relative
			.title
				font-size 14px
				margin-bottom 5px
				.tilte2
					position absolute
					right 10px
					background red
					padding-left 20px
					background url(../../img/appointment/content_icon@2x.png) no-repeat left 0px center 
					background-size 12%
			.demand_info
				text-indent 1.2em
				font-size 14px
				line-height 18px
				padding 0px
				margin 0px
				
			.text-bottom
				color #FF8C0A
				font-size 12px
				padding 0px
				margin 0px
			.button
				width 55px
				height 23px
				line-height 23px
				text-align center
				background #EA5404
				border-radius 5px
				color white
				font-size 12px
				position absolute
				right 10px
			.button1
				width 100px
				height 23px
				line-height 23px
				text-align right
				color #4E4E4E
				font-size 12px
				position absolute
				right 30px
			.hidden-box
				width 65px
				height 115px
				background #FF3B30
				position absolute
				left 250px
				top -10px
.bottom_bar
	width 100%
	position fixed
	bottom 0
	display flex
	background-color #fff
	border-top 1px solid #EBEBEE
	padding 8px 0px 3px
	.same
		flex 1
		height 100%
		.home_page
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_nor_icon04@2x.png) no-repeat center 0px
			background-size 80%
		.appoint
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_press_icon03@2x.png) no-repeat center 0px
			background-size 80%
		.add
			width 42px
			height 42px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_icon05@2x.png) no-repeat center 0px
			background-size 100%
		.message
			width 30px
			height 25px
			margin 0 auto	
			background url(../../img/bottom_bar/bottom_nor_icon02@2x.png) no-repeat center 0px
			background-size 80%
		.my
			width 30px
			height 25px
			margin 0 auto
			background url(../../img/bottom_bar/bottom_nor_icon01@2x.png) no-repeat center 0px
			background-size 80%
		.bottom_text
			text-align center	
			color #B4B4B4
			font-size 12px
		.active
			color #EA580E
	