body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
ul
li
  list-style: none;
  padding: 0;
  margin: 0;
}
.tab_box {
  padding: 9px 0px;
  background-color: #fff;
}
.tab_bar {
  display: flex;
  width: 70%;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  border: 1px solid #ea5404;
  color: #ea5404;
}
.tab_bar .tab_bar-cell {
  position: relative;
  flex: 1;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border-right: 1px solid #ea5404;
}
.tab_bar .active {
  border-right: none;
  background-color: #ea5404;
  color: #fff;
}
.demand_cells {
  padding: 0 15px;
}
.demand_cells .demand_cell {
  width: 100%;
  min-height: 100px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  background-color: #fff;
  color: #3e3e3e;
}
.demand_cells .demand_cell .demand_title {
  display: flex;
  padding: 10px 10px;
  border-bottom: 1px solid #cecece;
}
.demand_cells .demand_cell .demand_title .title_name {
  flex: 1;
}
.demand_cells .demand_cell .demand_title .title_text {
  display: inline-block;
  width: 45px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  font-size: 10px;
  background-color: #15b755;
  text-align: center;
  border-radius: 3px;
}
.demand_cells .demand_cell .demand_title .person {
  background-color: #0193e6;
}
.demand_cells .demand_cell .demand_title .merchant {
  background-color: #97b715;
}
.demand_cells .demand_cell .demand_title .agency {
  background-color: #ea5404;
}
.demand_cells .demand_info {
  line-height: 1.2em;
  font-size: 12px;
  padding: 0px 10px;
}
.demand_footer {
  display: flex;
  height: 25px;
  line-height: 25px;
  padding: 10px;
  padding-top: 0px;
}
.demand_footer .footer_detail {
  flex: 1;
  width: 90px;
  height: 25px;
  font-size: 12px;
  background-color: #efeff4;
  border-radius: 3px;
  text-align: center;
}
.demand_footer .footer_time {
  flex: 1;
  font-size: 10px;
  text-align: right;
}
.bottom_bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #fff;
  border-top: 1px solid #ebebee;
  padding: 8px 0px 3px;
}
.bottom_bar .same {
  flex: 1;
  height: 100%;
}
.bottom_bar .same .home_page {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon04@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .appoint {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon03@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .add {
  width: 42px;
  height: 42px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_icon05@2x.png") no-repeat center 0px;
  background-size: 100%;
}
.bottom_bar .same .message {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_press_icon02@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .my {
  width: 30px;
  height: 25px;
  margin: 0 auto;
  background: url("../../img/bottom_bar/bottom_nor_icon01@2x.png") no-repeat center 0px;
  background-size: 80%;
}
.bottom_bar .same .bottom_text {
  text-align: center;
  color: #b4b4b4;
  font-size: 12px;
}
